@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
}

.ko {
    font-family: 'Noto Sans KR', sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

hr {
    border: 0;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
}


li {
    list-style: none;
}


img {
    width: 100%;
}

hr {
    border: 0;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
}

/* nav */

.header-top {
    width: 100%;
    z-index: 1;

}

.login-wrap {
    width: 1280px;
    margin: 0 auto;
    text-align: end;
    /* background-color: gray; */
    padding: 6px;
}

.login-wrap a {
    margin-right: 8px;
    color: rgba(0, 0, 0, 0.7);
    font-size: 14px;
}

/* ----------- nav ---------------  */
.header-top {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    
}

.nav-wrap {
    display: flex;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: #fff;
    /* background-color: #a70638; */
}

.logo {
    width: 150px;
    height: 150px;
}

.nav-wrap ul {
    display: flex;
    justify-content: space-between;
}

.nav-wrap ul li {
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 19px;
    margin: 25px;
}

.nav-wrap ul a:hover {
    color: #3CB4FF;
    /* border-bottom: 1px solid #3CB4FF; */
    /* transition: .2s;    */
}

.search input {
    font-size: 15px;
    color: #222222;
    width: 300px;
    border: none;
    border-bottom: solid #aaaaaa 1px;
    padding-bottom: 10px;
    padding-left: 10px;
    position: relative;
    background: none;
    z-index: 1;
}

.search input::placeholder {
    color: #aaaaaa;
}

.search input:focus {
    outline: none;
    border-bottom: 1.7px solid #000;
}

.search button {
    border: 0;
    background-color: #fff;
}

.search i {
    font-size: 16px;
    cursor: pointer;
}

.search i:hover {
    color: #3CB4FF;
    transition: .3s;
}




/* ----------------------- main ----------------------------- */
.bg-title {
    height: 300px;
    background-image: url(../images/capsule2.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
}

.main-title h1 {
    color: #fff;
    margin: auto;
}

.main-container {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 100px;
    padding-top: 100px;
}

.main-title {
    width: 100%;
}

/* ------------------------ section ------------------------- */

.section-container {
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    padding-right: 50px;
}

/* -------------------- aside ------------------------ */

aside {
    width: 30%;
    margin-left: 30px;
    height: 500px;
}

aside ul li {
    width: 85%;
    text-align: center;
    padding: 14px 0;
    font-weight: 600;
    border-bottom: 1px solid #ccc;
}

aside ul li.active {
    background-color: #eee;
}

aside ul li.active a {
    color:#3CB4FF;
    font-weight: bold;
}

aside ul li:first-child {
    background-color: skyblue;
    height: 200px;
    line-height: 150px;
    text-align: center;
    padding: 20px 0;
}

aside ul li:first-child a {
    color: #fff;
}

aside ul li a:hover {
    color: #3CB4FF;
}

.side-bg-wrap{
    /* font-size: 2px; */
    color: #fff;
}

/* -------------------------------------------------------- */

.content-wrap {
    width: 100%;
    margin: 0px auto;
    margin-top: 40px;
    padding: 0 10px;
}

/* ----------------------------------------------- */

.board-info {
    padding-top: 10px;
}

.board-info p {
    font-size: 12px;
}

.board-info span {
    padding-right: 5px;
}

p .writer {
    font-weight: bold;
}

.subject hr {
    margin: 30px 0;
    border: 0;
    border-top: 1px solid #ccc;
}


.text-box p {
    line-height: 400%;
    font-size: 12px;
}

.content {
    padding: 10px;
    min-height: 400px;
}

.content-wrap hr {
    margin: 30px 0;
    border: 0;
    border-top: 1px solid #ccc;
}


/* ------------------------------------------------------ */
.bottom {
    max-width: 1480px;
    width: 100%;
    margin-top: 20px;
    margin: 0 auto;
}

.bottom-right {
    display: flex;
    justify-content: end;
    height: 60px;
    margin: 0 5px;
}

.bottom-right a {
    margin-left: 5px;
}


.bottom-right button {
    width: 80px;
    height: 30px;
    margin-top: 10px;
    background-color: #6aafe6;
    color: #fff;
    border: 0;
    cursor: pointer;
    border-radius: 2px;
}

.bottom-center {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.bottom-center a.active {
    background-color: #eee;
}

.bottom-center a {
    display: inline-block;
    padding: 2px 8px;
    background-color: #fff;
    font-weight: bold;
    font-size: 14px;
    box-shadow: 0 1px 1px 0 #eee;
    border-radius: 20px;
}

.comment {
    border-top: 1px dashed #ccc;
    padding-top: 20px;
    font-size: 14px;
}

.comment ul {
    margin-top: 30px;
}

.comment ul li {
    margin: 10px 0;
    width: 100%;
    height: 100px;
    font-size: 12px;
}

.comment ul li .comment-info {
    display: flex;
    justify-content: space-between;
}

.comment ul li .writer {
    font-weight: bold;
}

.comment ul li .reg-time {
    font-style: italic;
}

.comment ul li p {
    border: 0;
    border-radius: 3px;
    background-color: #f8fafb;
    padding: 15px;
    margin: 10px 0;
}

/*------------------------- footer css --------------------------*/

footer {
    color: #000;
    padding: 25px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);

}

.footer-container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.copyright p {
    opacity: .7;
    font-weight: lighter;
    letter-spacing: -1;
}

.copyright p span {
    font-weight: bold;
}


.foot-logo {
    width: 130px;
    margin: 20px 0 0 20px;
}